DATABASE_URL="postgresql://user:password@host:port/database"
SUPABASE_URL="https://jgverskznikedselvshj.supabase.co"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpndmVyc2t6bmlrZWRzZWx2c2hqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM5MDYzMzIsImV4cCI6MjA4OTQ4MjMzMn0.ticWdNnz6vHQAw9_8lcIqNGBklVrou7vKN8ryXvBoGc"
PORT=3001
CORS_ORIGIN="http://localhost:5173"
NODE_ENV="development"
